<a href="https://colab.research.google.com/github/Sachin983/PWSkills/blob/main/Untitled14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
S="India"
print(S)

India

In [ ]:
type(S)

str

In [ ]:
S="India"
print(S)
for i in (S):
  print(i)

India
I
n
d
i
a

In [ ]:
for i in range(1,100):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
for i in range(2,100,2):
  print(i)

In [ ]:
for i in range(2,100):
  print(i)
  i=i+2

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
values=["red","big","tasty"]
fruits=["apple","pumpkin","mangoes"]

for x in values:
  for y in fruits:
    print(x,y)

red apple
red pumpkin
red mangoes
big apple
big pumpkin
big mangoes
tasty apple
tasty pumpkin
tasty mangoes

In [ ]:
for x in range(1,5):
  for y in range(1,5):
    print(x,y)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

In [ ]:
def pypart(n):
    myList = []
    for i in range(1,n+1):
        myList.append("*"*i)
    print("\n".join(myList))

# Driver Code
pypart(7)

*
**
***
****
*****
******
*******

In [ ]:
def pattern(n):
  my_list=[]
  for i in range(1,n+1):
    my_list.append("*"*i)
  print("\n".join(my_list))

In [ ]:
pattern(7)

*
**
***
****
*****
******
*******

In [ ]:
def list_pattern(n):
  my_list = ["*"*i for i in range(1,n+1)]
  print("\n".join(my_list))

In [ ]:
list_pattern(7)

*
**
***
****
*****
******
*******

LIST Data **Structure**

Python-Different ways to create a list

In [ ]:
# Method-1 List and integer multiplication
my_list=[5]*10

In [ ]:
print(my_list)

[5, 5, 5, 5, 5, 5, 5, 5, 5, 5]

In [ ]:
# Method -2 simple loop with append() method

In [ ]:
my_list=[]
for i in range(0,10,2):
  my_list.append("Python")
print(my_list)

['Python', 'Python', 'Python', 'Python', 'Python']

In [ ]:
my_list=[]
for i in range(0,5):
  my_list+=[i]
print(my_list)
print(my_list[0])

[0, 1, 2, 3, 4]
0

In [ ]:
# Method-04 : List Comprehension
my_list=["lyangtoChele" for i in range(0,30,3)]
print(my_list)

['lyangtoChele', 'lyangtoChele', 'lyangtoChele', 'lyangtoChele', 'lyangtoChele', 'lyangtoChele', 'lyangtoChele', 'lyangtoChele', 'lyangtoChele', 'lyangtoChele']

In [ ]:
my_list=[i for i in range(0,30,3)]
print(my_list)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

In [ ]:
#Sublist

Items=["Sachin","Nisha","Nikhil","prakash","nangu","Panku"]
print(Items[0:4])

['Sachin', 'Nisha', 'Nikhil', 'prakash']

In [ ]:
values=[10,40,20,70,90,50]
print(type(values))
print(values)

values.sort(reverse=True)
print(values)

<class 'list'>
[10, 40, 20, 70, 90, 50]
[90, 70, 50, 40, 20, 10]

In [ ]:
products=["Laptop","Mobile","Tv","BOX"]
print(type(products))
print(products)
products.sort()
print(products)
products.sort(reverse=True)
print(products)

<class 'list'>
['Laptop', 'Mobile', 'Tv', 'BOX']
['BOX', 'Laptop', 'Mobile', 'Tv']
['Tv', 'Mobile', 'Laptop', 'BOX']

In [ ]:
string1= "Welcome to enraps"
list1=string1.split()

In [ ]:
print(list1)

['Welcome', 'to', 'enraps']

In [ ]:
print(type(list1))

<class 'list'>

In [ ]:
string1= "Welcome/to/enraps"
list2=string1.split("/")

In [ ]:
print(list2)

['Welcome', 'to', 'enraps']

In [ ]:
string1="Welcome to python"
list2=list(string1)
print(len(list2))
print(list(string1))

17
['W', 'e', 'l', 'c', 'o', 'm', 'e', ' ', 't', 'o', ' ', 'p', 'y', 't', 'h', 'o', 'n']

In [ ]:
string1="Welcome to python"
list2=list(string1)
print(len(list2))
list1=list(map(list,string1))
print(list1)
print(list(string1))

17
[['W'], ['e'], ['l'], ['c'], ['o'], ['m'], ['e'], [' '], ['t'], ['o'], [' '], ['p'], ['y'], ['t'], ['h'], ['o'], ['n']]
['W', 'e', 'l', 'c', 'o', 'm', 'e', ' ', 't', 'o', ' ', 'p', 'y', 't', 'h', 'o', 'n']

In [ ]:
#python-convert list to string
# use of join function

In [ ]:
my_list=['W', 'e', 'l', 'c', 'o', 'm', 'e', ' ', 't', 'o', ' ', 'p', 'y', 't', 'h', 'o', 'n']
print(" ".join(my_list))

W e l c o m e   t o   p y t h o n

In [ ]:
#Creating List from USER Values

In [ ]:
input_string=input("enter the list elements seperated by space:")
print("\n")
user_list=input_string.split()
print(user_list)
integer_list=list(map(int, user_list))
print(integer_list)

enter the list elements seperated by space:1 2 3 4 5 6


['1', '2', '3', '4', '5', '6']
[1, 2, 3, 4, 5, 6]

In [ ]:
print(type(user_list[0]))
print(type(integer_list[0]))

<class 'str'>
<class 'int'>

List methods learned:
join method
split method
map function
append
extend

In [5]:
arr=[1,2,3,4,5,6,7]
summ=0
for i in range(len(arr)):

  summ+=int(arr[i])
print(summ)

28